debug/
target/
Cargo.lock

*.txt
*.out
*.trace
*.md
!scripts/requirements.txt
!plots/requirements.txt
!plots/README.md
!README.md

results
push_plot

snapshot*
*.log
*snapshot
log*
__pycache__

crux
ecmp

results
filtered_results

plots/*.pdf
plots/*.png
